<html>
  <title>
    Automate User Creation
  </title>
  <body>
    <div><center>
      Enter The inputs for user creation
    </center></div>
    <form method="post">
      <div>
	<label for="username">Username</label>
        <input type="text" name="username" />
      </div>
      <div>
	<label for="password">Password</label>
        <input type="password" name="password" />
      </div>
      <div>
	<label for="shell">Shell</label>
        <input type="text" name="shell" />
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
