<html>
  <title>
    Automate User Creation
  </title>
  <body>
    <div><center><h1>
      Enter The inputs for user & operation
    </h1></center></div>
    <form method="post"><center>
        <div>
	<label for="username"><h4>Username</h4></label>
        <input type="text" name="username" />
        </div>
      <div>
	<label for="password"><h4>Password</h4></label>
        <input type="password" name="password" />
      </div>
      <div>
	<label for="homedir"><h4>Home Directory</h4></label>
        <input type="text" name="homedir" />
      </div>
      <div>
	<label for="shell"><h4>Shell</h4></label>
        <input type="text" name="shell" />
      </div>
      <div>
      <h4>Sudo previlege?</h4>
        <select name='sudo'>
          <option value='true'>Yes</option>
          <option value='false'>No</option>
        </select>
      </div>
      <div>
      <h4>Operation?</h4>
        <select name='operation'>
          <option value='create'>Create</option>
          <option value='modify'>Modify</option>
          <option value='delete'>Delete</option>          
        </select>
      <div><br>
        <button type="submit">Submit</button>
      </br></div>
    </center></form>
  </body>
</html>
